%td.table-text= object.csr_description
%td.table-text= object.csr_location
%td.table-text= humanized_money_with_symbol(object.csr_value)
%td.table-text= object.csr_start_date
%td.table-text= object.csr_finish_date
%td.table-text= object.csr_comment