%div.media
  %div.media-body
    %table.table-striped
      %thead.index-haml-pages.row
        %th.col.s2= smart_listing.sortable "Title", "csr_description"
        %th.col.s1= smart_listing.sortable "Place", "csr_location"
        %th.col.s1= smart_listing.sortable "Value", "csr_value"
        %th.col.s1= smart_listing.sortable "Start", "csr_start_date"
        %th.col.s1= smart_listing.sortable "End", "csr_finish_date"
        %th.col.s2= smart_listing.sortable "Supplier", "supplier.name"
        %th.col.s1= smart_listing.sortable "ABN", "supplier.abn"
        %th.col.s1= smart_listing.sortable "ACN", "supplier.acn"
        %th.col.s2= smart_listing.sortable "Comment", "csr_comment"

      %tbody.row
        - smart_listing.collection.each do |o|
          %tr.editable.contracts-row{:data => {:id => o.id}}
            = smart_listing.render object: o, partial: "csr_contracts/csr_contract", locals: {object: o}

        / %div.smart-listing-new-button
        /   = smart_listing.item_new colspan: 12, link: new_contract_path
    :javascript
      findCsrContractId();

    = smart_listing.paginate
    = smart_listing.pagination_per_page_links
