<%= form_for(@cpr_performance_report) do |f| %>
  <% if @cpr_performance_report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cpr_performance_report.errors.count, "error") %> prohibited this cpr_performance_report from being saved:</h2>

      <ul>
      <% @cpr_performance_report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cpr_contract %>
    <% if not @contract.nil? %>
      <%= f.number_field :cpr_contract, value: @contract.id, disabled: true %>
    <% else %>
    <%= f.number_field :cpr_contract %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :cpr_supplier %>
    <% if not @contract.nil? %>
      <%= f.number_field :cpr_supplier, value: @contract.vt_supplier_id, disabled: true %>
    <% else %>
      <%= f.number_field :cpr_supplier %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :cpr_client %>
    <% if not @department.nil? %>
      <%= f.text_field :cpr_client, value: @department.name, disabled: true %>
    <% else %>
      <%= f.text_field :cpr_client %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :cpr_principal %>
    <%= f.text_field :cpr_principal %>
  </div>

  <div class="field">
    <%= f.label :cpr_report_date %>
    <%= f.date_select :cpr_report_date, value: Date.today, disabled: true  %>
  </div>

  <div class="field">
    <%= f.label :cpr_work_percent_complete %>
    <%= f.number_field :cpr_work_percent_complete %>
  </div>

  <div class="field">
    <%= f.label :cpr_report_reason %>
    <% if @reason %>
      <%= f.text_field :cpr_report_reason, value: @reason, disabled: true %>
    <% else %>
      <%= f.text_field :cpr_report_reason %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :cpr_price_as_varied %>
    <%= f.text_field :cpr_price_as_varied %>
  </div>

  <div class="field">
    <%= f.label :cpr_predicted_price %>
    <% if not @contract.nil? %>
      <%= f.number_field :cpr_predicted_price, value: @contract.vt_total_value, disabled: true %>
    <% else %>
      <%= f.text_field :cpr_predicted_price %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :cpr_actual_price %>
    <%= f.text_field :cpr_actual_price %>
  </div>

  <div class="field">
    <%= f.label :cpr_total_extention_days %>
    <%= f.number_field :cpr_total_extention_days %>
  </div>

  <div class="field">
    <%= f.label :cpr_adjusted_completion_date %>
    <%= f.date_select :cpr_adjusted_completion_date %>
  </div>

  <div class="field">
    <%= f.label :cpr_predicted_completion_date %>
    <% if not @contract.nil? %>
      <%= f.date_select :cpr_predicted_completion_date, value: @contract.vt_end_date, disabled: true %>
    <% else %>
      <%= f.date_select :cpr_predicted_completion_date %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :cpr_actual_completion_date %>
    <%= f.date_select :cpr_actual_completion_date %>
  </div>

  <div class="field">
    <%= f.label :cpr_comments %>
    <%= f.text_area :cpr_comments %>
  </div>

  <div class="field">
    <%= f.label :cpr_reporting_officer %>
    <%= f.number_field :cpr_reporting_officer %>
  </div>

  <div class="field">
    <%= f.label :cpr_contractor_acknowlages %>
    <%= f.check_box :cpr_contractor_acknowlages %>
  </div>

  <div class="field">
    <%= f.label :cpr_validating_officer %>
    <%= f.number_field :cpr_validating_officer %>
  </div>

  <div class="field">
    <%= f.label :score_time_management %>
    <%= f.number_field :score_time_management %>
  </div>

  <div class="field">
    <%= f.label :score_work_standard %>
    <%= f.number_field :score_work_standard %>
  </div>

  <div class="field">
    <%= f.label :score_quality_management_system %>
    <%= f.number_field :score_quality_management_system %>
  </div>

  <div class="field">
    <%= f.label :score_personnel %>
    <%= f.number_field :score_personnel %>
  </div>

  <div class="field">
    <%= f.label :score_subcontractors %>
    <%= f.number_field :score_subcontractors %>
  </div>

  <div class="field">
    <%= f.label :score_contract_admin %>
    <%= f.number_field :score_contract_admin %>
  </div>

  <div class="field">
    <%= f.label :score_coop_relations %>
    <%= f.number_field :score_coop_relations %>
  </div>

  <div class="field">
    <%= f.label :score_health_and_safety %>
    <%= f.number_field :score_health_and_safety %>
  </div>

  <div class="field">
    <%= f.label :score_industrial_relations %>
    <%= f.number_field :score_industrial_relations %>
  </div>

  <div class="field">
    <%= f.label :score_environmental_management %>
    <%= f.number_field :score_environmental_management %>
  </div>

  <div class="field">
    <%= f.label :score_training_management %>
    <%= f.number_field :score_training_management %>
  </div>

  <div class="field">
    <%= f.label :score_design_contractor %>
    <%= f.number_field :score_design_contractor %>
  </div>

  <div class="field">
    <%= f.label :score_indigenous_participation %>
    <%= f.number_field :score_indigenous_participation %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
