<p id="notice"><%= notice %></p>

<p>
  <strong>Cpr contract:</strong>
  <%= @cpr_performance_report.cpr_contract %>
</p>

<p>
  <strong>Cpr supplier:</strong>
  <%= @cpr_performance_report.cpr_supplier %>
</p>

<p>
  <strong>Cpr client:</strong>
  <%= @cpr_performance_report.cpr_client %>
</p>

<p>
  <strong>Cpr principal:</strong>
  <%= @cpr_performance_report.cpr_principal %>
</p>

<p>
  <strong>Cpr report date:</strong>
  <%= @cpr_performance_report.cpr_report_date %>
</p>

<p>
  <strong>Cpr work percent complete:</strong>
  <%= @cpr_performance_report.cpr_work_percent_complete %>
</p>

<p>
  <strong>Cpr report reason:</strong>
  <%= @cpr_performance_report.cpr_report_reason %>
</p>

<p>
  <strong>Cpr price as varied:</strong>
  <%= @cpr_performance_report.cpr_price_as_varied %>
</p>

<p>
  <strong>Cpr predicted price:</strong>
  <%= @cpr_performance_report.cpr_predicted_price %>
</p>

<p>
  <strong>Cpr actual price:</strong>
  <%= @cpr_performance_report.cpr_actual_price %>
</p>

<p>
  <strong>Cpr total extention days:</strong>
  <%= @cpr_performance_report.cpr_total_extention_days %>
</p>

<p>
  <strong>Cpr adjusted completion date:</strong>
  <%= @cpr_performance_report.cpr_adjusted_completion_date %>
</p>

<p>
  <strong>Cpr predicted completion date:</strong>
  <%= @cpr_performance_report.cpr_predicted_completion_date %>
</p>

<p>
  <strong>Cpr actual completion date:</strong>
  <%= @cpr_performance_report.cpr_actual_completion_date %>
</p>

<p>
  <strong>Cpr comments:</strong>
  <%= @cpr_performance_report.cpr_comments %>
</p>

<p>
  <strong>Cpr reporting officer:</strong>
  <%= @cpr_performance_report.cpr_reporting_officer %>
</p>

<p>
  <strong>Cpr contractor acknowlages:</strong>
  <%= @cpr_performance_report.cpr_contractor_acknowlages %>
</p>

<p>
  <strong>Cpr validating officer:</strong>
  <%= @cpr_performance_report.cpr_validating_officer %>
</p>

<p>
  <strong>Score time management:</strong>
  <%= @cpr_performance_report.score_time_management %>
</p>

<p>
  <strong>Score work standard:</strong>
  <%= @cpr_performance_report.score_work_standard %>
</p>

<p>
  <strong>Score quality management system:</strong>
  <%= @cpr_performance_report.score_quality_management_system %>
</p>

<p>
  <strong>Score personnel:</strong>
  <%= @cpr_performance_report.score_personnel %>
</p>

<p>
  <strong>Score subcontractors:</strong>
  <%= @cpr_performance_report.score_subcontractors %>
</p>

<p>
  <strong>Score contract admin:</strong>
  <%= @cpr_performance_report.score_contract_admin %>
</p>

<p>
  <strong>Score coop relations:</strong>
  <%= @cpr_performance_report.score_coop_relations %>
</p>

<p>
  <strong>Score health and safety:</strong>
  <%= @cpr_performance_report.score_health_and_safety %>
</p>

<p>
  <strong>Score industrial relations:</strong>
  <%= @cpr_performance_report.score_industrial_relations %>
</p>

<p>
  <strong>Score environmental management:</strong>
  <%= @cpr_performance_report.score_environmental_management %>
</p>

<p>
  <strong>Score training management:</strong>
  <%= @cpr_performance_report.score_training_management %>
</p>

<p>
  <strong>Score design contractor:</strong>
  <%= @cpr_performance_report.score_design_contractor %>
</p>

<p>
  <strong>Score indigenous participation:</strong>
  <%= @cpr_performance_report.score_indigenous_participation %>
</p>

<%= link_to 'Edit', edit_cpr_performance_report_path(@cpr_performance_report) %> |
<%= link_to 'Back', cpr_performance_reports_path %>
