<%= form_for(cpr_score) do |f| %>
  <% if cpr_score.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cpr_score.errors.count, "error") %> prohibited this cpr_score from being saved:</h2>

      <ul>
      <% cpr_score.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :time_management %>
    <%= f.number_field :time_management %>
  </div>

  <div class="field">
    <%= f.label :work_standard %>
    <%= f.number_field :work_standard %>
  </div>

  <div class="field">
    <%= f.label :quality_management_system %>
    <%= f.number_field :quality_management_system %>
  </div>

  <div class="field">
    <%= f.label :personnel %>
    <%= f.number_field :personnel %>
  </div>

  <div class="field">
    <%= f.label :subcontractors %>
    <%= f.number_field :subcontractors %>
  </div>

  <div class="field">
    <%= f.label :contract_admin %>
    <%= f.number_field :contract_admin %>
  </div>

  <div class="field">
    <%= f.label :coop_relations %>
    <%= f.number_field :coop_relations %>
  </div>

  <div class="field">
    <%= f.label :health_and_safety %>
    <%= f.number_field :health_and_safety %>
  </div>

  <div class="field">
    <%= f.label :industrial_relations %>
    <%= f.number_field :industrial_relations %>
  </div>

  <div class="field">
    <%= f.label :environmental_management %>
    <%= f.number_field :environmental_management %>
  </div>

  <div class="field">
    <%= f.label :training_management %>
    <%= f.number_field :training_management %>
  </div>

  <div class="field">
    <%= f.label :design_contractor %>
    <%= f.number_field :design_contractor %>
  </div>

  <div class="field">
    <%= f.label :indigenous_participation %>
    <%= f.number_field :indigenous_participation %>
  </div>

  <div class="field">
    <%= f.label :cpr_report_id %>
    <%= f.text_field :cpr_report_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
