<p id="notice"><%= notice %></p>

<p>
  <strong>Time management:</strong>
  <%= @cpr_score.time_management %>
</p>

<p>
  <strong>Work standard:</strong>
  <%= @cpr_score.work_standard %>
</p>

<p>
  <strong>Quality management system:</strong>
  <%= @cpr_score.quality_management_system %>
</p>

<p>
  <strong>Personnel:</strong>
  <%= @cpr_score.personnel %>
</p>

<p>
  <strong>Subcontractors:</strong>
  <%= @cpr_score.subcontractors %>
</p>

<p>
  <strong>Contract admin:</strong>
  <%= @cpr_score.contract_admin %>
</p>

<p>
  <strong>Coop relations:</strong>
  <%= @cpr_score.coop_relations %>
</p>

<p>
  <strong>Health and safety:</strong>
  <%= @cpr_score.health_and_safety %>
</p>

<p>
  <strong>Industrial relations:</strong>
  <%= @cpr_score.industrial_relations %>
</p>

<p>
  <strong>Environmental management:</strong>
  <%= @cpr_score.environmental_management %>
</p>

<p>
  <strong>Training management:</strong>
  <%= @cpr_score.training_management %>
</p>

<p>
  <strong>Design contractor:</strong>
  <%= @cpr_score.design_contractor %>
</p>

<p>
  <strong>Indigenous participation:</strong>
  <%= @cpr_score.indigenous_participation %>
</p>

<p>
  <strong>Cpr report:</strong>
  <%= @cpr_score.cpr_report %>
</p>

<%= link_to 'Edit', edit_cpr_score_path(@cpr_score) %> |
<%= link_to 'Back', cpr_scores_path %>
