%td.table-text= "#{object.vt_title}"
%td.table-text= "#{object.vt_contract_number}"
%td.table-text= humanized_money_with_symbol(object.vt_total_value)
%td.table-text= object.vt_start_date
%td.table-text= object.vt_end_date
%td.table-text= object.vt_status_id

/ %td.actions= smart_listing_item_actions [{name: :edit, url: edit_contract_path(object)}, {name: :destroy, url: contract_path(object), confirmation: "Are you sure you want to delete this contract?"}]

/ %td.actions= smart_listing_item_actions [{name: :show, url: contract_path(object)}]
