%td
  = form_for object, url: object.new_record? ? contracts_path : contract_path(object), remote: true, html: {enctype: 'multipart/form-data', class: ""} do |f|

    %div
      = f.label :vt_title, "Title #{object.errors['vt_title'][0]}"
      = f.text_field :vt_title
    %br

    %div
      = f.label :vt_contract_number, "Ref# #{object.errors['vt_contract_number'][0]}"
      = f.text_field :vt_contract_number
    %br

    %div
      = f.label :vt_total_value, "Value #{object.errors['vt_total_value'][0]}"
      = f.text_field :vt_total_value
    %br

    %div
      = f.label :vt_start_date, "Start #{object.errors['vt_start_date'][0]}"
      = f.text_field :vt_start_date
    %br

    %div
      = f.label :vt_end_date, "End #{object.errors['vt_end_date'][0]}"
      = f.text_field :vt_end_date
    %br

    %div
      = f.label :vt_status_id, "Status #{object.errors['status'][0]}"
      = f.text_field :vt_status_id
    %br

    %hr

    = f.submit "Save"
    %button.cancel Cancel
