%div.media.contract-table
  %div.media-body
    %table.responsive-table.highlight.bordered
      %thead.index-haml-pages
        %th.left-align= smart_listing.sortable "Title", "vt_title"
        %th.center-align= smart_listing.sortable "Reference", "vt_contract_number"
        %th.center-align= smart_listing.sortable "Value", "vt_total_value"
        %th.center-align= smart_listing.sortable "Start", "vt_start_date"
        %th.center-align= smart_listing.sortable "End", "vt_end_date"
        %th.center-align= smart_listing.sortable "Status", "vt_status_id"

      %tbody
        - smart_listing.collection.each do |o|
          %tr.editable.contracts-row{:data => {:id => o.id}}
            = smart_listing.render object: o, partial: "contracts/contract", locals: {object: o}

        / %div.smart-listing-new-button
        /   = smart_listing.item_new colspan: 12, link: new_contract_path
    :javascript
      findContractId();

    = smart_listing.paginate
    = smart_listing.pagination_per_page_links
