%div.media
  %div.media-body
    %table.table-striped
      %thead.index-haml-pages
        %th.col-md-3= smart_listing.sortable "Title", "title"
        %th.col-md-2= smart_listing.sortable "Contract No.", "contract_number"
        %th.col-md-2= smart_listing.sortable "Total Value", "total_value"
        %th.col-md-2= smart_listing.sortable "Start Date", "start_date"
        %th.col-md-2= smart_listing.sortable "End Date", "end_date"
        %th.col-md-2= smart_listing.sortable "Status", "status"

      %tbody
        - smart_listing.collection.each do |o|
          %tr.editable{:data => {:id => o.id}}
            = smart_listing.render object: o, partial: "contracts/contract", locals: {object: o}

        / %div.smart-listing-new-button
        /   = smart_listing.item_new colspan: 12, link: new_contract_path

    = smart_listing.paginate
    = smart_listing.pagination_per_page_links