%div.row.main-dashboard
  = render 'dashboard/display'

%div.main-content
  %div.contract-table
    %div.valign-wrapper 
      %div.header-page.header-title.valign
        = "Select a contract to view full contract and performance report details"
    %hr
    %div.row
      %form.col.s12
      = smart_listing_controls_for(:contracts, {class: ""}) do
        %span.filter.form-search.row
          .col.s2.tab-title="Contracts"
          .input-field.col.s6.offset-s1
            %i.material-icons.prefix search
            %label{:for => "icon_prefix"}
            %div.search-input
            = text_field_tag :filter, '', class: "", placeholder: "Search...", autocomplete: :off, value: "#{params[:filter]}"

          %span.col.s1
          = link_to '/contracts', :class => "tooltipped", :data => { :position => "bottom", :delay => "50", :tooltip => "Clear search input" } do
            %i.material-icons clear_all

          %span.col.s1
          = link_to '/contracts/save', :class => "tooltipped", :data => { :position => "bottom", :delay => "50", :tooltip => "Download search result" } do
            %i.material-icons file_download

          %span.col.s1
          %i.material-icons more_vert

      %script(type="text/javascript")
        - if params[:f]
          - params[:f].each do |field, param|
            - param.each do |option, value|
              - if value[:o] != "skip"
                - if value[:v].is_a? Hash
                  value = ["#{value[:v]['0']}", "#{value[:v]['1']}", "#{value[:v]['2']}"]
                - else
                  value = "#{value[:v]}"
                  $.filters.append(humanize("#{field}"), "#{field}", "#{Contract.columns_hash[field].type}", value, "#{value['o']}", "", "#{option}");

      = smart_listing_render :contracts
