<dl class="dl-horizontal">
  <dt><h4>Contract Details:</h4></dt>
  <dd><h2><%= @contract.title %></h2></dd>
  <dt><h4>Description:</h4></dt>
  <dd><h4><%= @contract.contract_description %></h4></dd>
  <dt><h4><h4>Dates:</h4></dt>
  <dd><h4><%= @contract.start_date %> -> <%= @contract.end_date %></h4></dd>
  <dt><h4>Status:</h4></dt>
  <dd><h4><%= @contract.status %></h3></h4></dd>
  <dt><h4>Value:</h4></dt>
  <dd><h4><%= @contract.total_value %></h4></dd>
  <dt><h4>Department Ref#:</h4></dt>
  <dd><h4><%= @contract.department_index %></h4></dd>
  <dt><h4>UNSPSC Code:</h4></dt>
  <dd><h4><%= @contract.unspc_code %></h4></dd>
  <dd><h4><%= @contract.unspsc_id %></h4></dd>
</dl>
