%div.main-content
  %ul.popout.collapsible{"data-collapsible" => "accordion"}
    %li
      .collapsible-header.active
        %i.material-icons> filter_drama
        Contract Details
      .collapsible-body
        %dl
          %dt
            %h6 Title:
          %dd
            %h5= @contract.vt_title.titleize
          %dt
            %h6 Tenders VIC source:
          %dd
            %h5= link_to "Reference #{@contract.project_id}", "http://www.tenders.vic.gov.au/tenders/contract/view.do?id=#{@contract.project_id}"
          %dt
            %h6 Type and Status:
          %dd
            %h5
              = lookup_contract_type_name(@contract.vt_contract_type_id)
              \- #{lookup_contract_status_name(@contract.vt_status_id)}
          %dt
            %h6 Description:
          %dd
            %h5= @contract.vt_contract_description.titleize
          %dt
            %h6 Dates:
          %dd
            %h5
              = @contract.vt_start_date
              \-&gt; #{@contract.vt_end_date}
          %dt
            %h6 Value:
          %dd
            %h5= humanized_money_with_symbol(@contract.vt_total_value)
          %dt
            %h6 Value type:
          %dd
            %h5= @contract.vt_value_type_id
          %dt
            %h6 Department:
          - department = Department.where(vt_number: @contract.vt_department_id).first
          - if department
            %dd
              %h5
                = link_to lookup_department_name(@contract.vt_department_id), department_path(department)
                (#{lookup_department_short_name(@contract.vt_department_id)})
          - else
            %dd
              %h5
                Unknown agency found: #{@contract.vt_department_id}
          %dt
            %h6 Contact:
          %dd
            %h5= @contract.vt_agency_person
          %dt
            %h6 Phone:
          %dd
            %h5= @contract.vt_agency_phone
          %dt
            %h6 Email:
          %dd
            %h5= @contract.vt_agency_email
          %dt
            %h6 Supplier:
          - if @contract.vt_supplier_id == 0
            %dd
              %h5= @contract.vt_supplier_name
          - else
            %dd
              %h5
                = link_to("#{@contract.vt_supplier_name}", supplier_path(@contract.vt_supplier_id))
          %dt
            %h6 ABN:
          %dd
            %h5= @contract.vt_supplier_abn
          %dt
            %h6 ACN:
          %dd
            %h5= @contract.vt_supplier_acn
          %dt
            %h6 Address:
          %dd
            %h5= @contract.vt_supplier_address
          %dt
            %h6 Email:
          %dd
            %h5= @contract.vt_supplier_email
    %li
      .collapsible-header
        %i.material-icons> insert_chart
        Analytics
      .collapsible-body
        %p Blessed be the name of the Lord!.
    %li
      .collapsible-header
        %i.material-icons> local_activity
        Performance Report Details
      .collapsible-body
        %dl
          %dt
          %h6 Reporting
          - if (@cpr_reports.count + @csr_reports.count + @ccr_reports.count) == 0
            %dd
              %h5 No reporting on project
          - @cpr_reports.each do |report|
            %dd
              %h5= link_to "CPR Performance Report", report
          - @csr_reports.each do |report|
            %dd
              %h5= link_to "CSR Performance Report", report
          
          - @ccr_reports.each do |report|
            - if report.score_overall == nil
              %dd
                %h5= link_to "incomplete CCR Performance Report #{report.id}", report
            - else
              %dd
                %h5= link_to "CCR Performance Report #{report.id} (score:#{report.score_overall})", report
          %dt
            %dd
              %h5= link_to "Initiate reporting cycle", new_ccr_performance_report_path(:contract_id => @contract.id)
          %dt
            %h6 UNSPSC Code
          %dd
            %h5= @contract.vt_unspc_id

          %dt
            %h6 Record created
          %dd
            %h5= @contract.created_at
          %dt
            %h6 Record modified
          %dd
            %h5= @contract.updated_at
          - @ccr_reports.each do |report|
            - if report.score_overall != nil
              = render report, locals: {ccr_performance_report: @ccr_performance_report, contract: @contract, department: @department, supplier: @supplier }
    %li
      .collapsible-header
        %i.material-icons> view_list
        Performance Assessment
      .collapsible-body
        %p Blessed be the name of the Lord!.
    %li
      .collapsible-header
        %i.material-icons> playlist_add_check
        Supplier Acceptance
      .collapsible-body
        %p Blessed be the name of the Lord!.
    %li
      .collapsible-header
        %i.material-icons> account_circle
        Executive Approval
      .collapsible-body
        %p Blessed be the name of the Lord!.