<h4>Contract Details:</h4>
<dl class="dl-horizontal">
  
  <dd><h2><%= @contract.title %></h2></dd>
  <dt><h4>Description:</h4></dt>
  <dd><h4><%= @contract.contract_description %></h4></dd>
  <dt><h4><h4>Dates:</h4></dt>
  <dd><h4><%= @contract.start_date %> -> <%= @contract.end_date %></h4></dd>
  <dt><h4>Status:</h4></dt>
  <dd><h4><%= @contract.status %></h3></h4></dd>
  <dt><h4>Value:</h4></dt>
  <dd><h4><%= @contract.total_value %></h4></dd>
  <dt><h4>Department Ref#:</h4></dt>
  <dd><h4><%= @contract.department_index %></h4></dd>
  <dt><h4>UNSPSC Code:</h4></dt>
  <dd><h4><%= @contract.unspc_code %></h4></dd>
  <dd><h4><%= @contract.unspsc_id %></h4></dd>
</dl>

<!-- <h4>Description:</h4>
<div><h3><%= @contract.contract_description %></h3></div>
<h4>Dates:</h4>
<div><h3><%= @contract.start_date %> -> <%= @contract.end_date %></h3></div>
<h4>Status:</h4>
<div><h3><%= @contract.status %></h3></div>
<h4>Value:</h4>
<div><h3><%= @contract.total_value %></h3></div>
<h4>Department Ref#:</h4>
<div><h3><%= @contract.department_index %></h3></div>
<h4>UNSPSC Code:</h4>
<div><h3><%= @contract.unspc_code %></h3></div>
<div><h3><%= @contract.unspsc_id %></h3></div> -->
