<dl class="dl-horizontal">

  <h3>Contract Details:</h3>
  <dd><h2><%= @contract.vt_title %></h2></dd>
  <dd><h4>Type#: <%= @contract.vt_contract_type_id %></h4></dd>

  <dt><h4>Description:</h4></dt>
  <dd><h4><%= @contract.vt_contract_description %></h4></dd>

  <dt><h4><h4>Dates:</h4></dt>
  <dd><h4><%= @contract.vt_start_date %> -> <%= @contract.vt_end_date %></h4></dd>

  <dt><h4>Status:</h4></dt>
  <dd><h4><%= @contract.vt_status_id %></h3></h4></dd>

  <dt><h4>Value:</h4></dt>
  <dd><h4><%= humanized_money_with_symbol(@contract.vt_total_value) %></h4></dd>

  <dt><h4>Department Ref#:</h4></dt>
  <dd><h4><%= @contract.vt_department_id %></h4></dd>
  <dd><h4>ProjectId: <%= @contract.project_id %></h4></dd>

  <dt><h4>UNSPSC Code:</h4></dt>
  <dd><h4><%= @contract.vt_unspc_id %></h4></dd>

  <h3>Supplier:</h3>
  <dd><h4>SupplierId: <%= @contract.vt_supplier_id %></h4></dd>
  <dd><h4>Address: <%= @contract.vt_address %></h4></dd>
  <dd><h4>Address: <%= @contract.vt_address_id %></h4></dd>

  <h3>Metadata:</h3>
  <dd><h4>Record created: <%= @contract.created_at %></h4></dd>
  <dd><h4>Record modified: <%= @contract.updated_at %></h4></dd>
  <dd><h4>VT RefNum: <%= @contract.vt_contract_number %></h4></dd>

</dl>
