
<h2>Details for contract:</h2>

<h1><%= @contract.title %></h1>

<h2>Description:</h2>
<div><%= @contract.contract_description %></div>

<h2>Dates:</h2>
<div><%= @contract.start_date %> -> <%= @contract.end_date %></div>

<h2>Status:</h2>
<div><%= @contract.status %></div>

<h2>Value:</h2>
<div><%= @contract.total_value %></div>

<h2>Department Ref#:</h2>
<div><%= @contract.department_index %></div>

<h2>UNSPSC Code:</h2>
<div><%= @contract.unspc_code %></div>
<div><%= @contract.unspsc_id %></div>
