<%= form_for(contract_status) do |f| %>
  <% if contract_status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contract_status.errors.count, "error") %> prohibited this contract_status from being saved:</h2>

      <ul>
      <% contract_status.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :short_name %>
    <%= f.text_field :short_name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
