<h1>Construction Contracts Register</h1>

<h2>Contract activity:</h2>
<p>Contracts awarded in the last 30 days: <%= @contracts_in_30 %></p>
<p>Contracts awarded in the last 12 months: <%= @contracts_in_365 %></p>

<h2>Contract valuations:</h2>
<p>Value of contracts awarded in the last 30 days: <%= humanized_money_with_symbol @value_in_30 %></p>
<p>Value of contracts awarded in the last 12 months: <%= humanized_money_with_symbol @value_in_365 %></p>

<h2>Contracts by department:</h2>
<p>Departmental breakdown from the last year:</p>
<% @department_breakdown.each do |department| %>
  <p>-<%= department[:name] %> <%= department[:value] %></p>
<% end %>
