<p id="notice"><%= notice %></p>

<h1>Cpr Reports</h1>

<table>
  <thead>
    <tr>
      <th>Cpr contract</th>
      <th>Cpr contractor</th>
      <th>Cpr client</th>
      <th>Cpr principal</th>
      <th>Cpr report date</th>
      <th>Cpr work percent complete</th>
      <th>Cpr report reason</th>
      <th>Cpr price as varied</th>
      <th>Cpr predicted price</th>
      <th>Cpr actual price</th>
      <th>Cpr total extention days</th>
      <th>Cpr adjusted completion date</th>
      <th>Cpr predicted completion date</th>
      <th>Cpr actual completion date</th>
      <th>Cpr comments</th>
      <th>Cpr reporting officer</th>
      <th>Cpr contractor acknowlages</th>
      <th>Cpr validating officer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cpr_reports.each do |cpr_report| %>
      <tr>
        <td><%= cpr_report.cpr_contract %></td>
        <td><%= cpr_report.cpr_contractor %></td>
        <td><%= cpr_report.cpr_client %></td>
        <td><%= cpr_report.cpr_principal %></td>
        <td><%= cpr_report.cpr_report_date %></td>
        <td><%= cpr_report.cpr_work_percent_complete %></td>
        <td><%= cpr_report.cpr_report_reason %></td>
        <td><%= cpr_report.cpr_price_as_varied %></td>
        <td><%= cpr_report.cpr_predicted_price %></td>
        <td><%= cpr_report.cpr_actual_price %></td>
        <td><%= cpr_report.cpr_total_extention_days %></td>
        <td><%= cpr_report.cpr_adjusted_completion_date %></td>
        <td><%= cpr_report.cpr_predicted_completion_date %></td>
        <td><%= cpr_report.cpr_actual_completion_date %></td>
        <td><%= cpr_report.cpr_comments %></td>
        <td><%= cpr_report.cpr_reporting_officer %></td>
        <td><%= cpr_report.cpr_contractor_acknowlages %></td>
        <td><%= cpr_report.cpr_validating_officer %></td>
        <td><%= link_to 'Show', cpr_report %></td>
        <td><%= link_to 'Edit', edit_cpr_report_path(cpr_report) %></td>
        <td><%= link_to 'Destroy', cpr_report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cpr Report', new_cpr_report_path %>
