<p id="notice"><%= notice %></p>

<p>
  <strong>Cpr contract:</strong>
  <%= @cpr_report.cpr_contract %>
</p>

<p>
  <strong>Cpr contractor:</strong>
  <%= @cpr_report.cpr_contractor %>
</p>

<p>
  <strong>Cpr client:</strong>
  <%= @cpr_report.cpr_client %>
</p>

<p>
  <strong>Cpr principal:</strong>
  <%= @cpr_report.cpr_principal %>
</p>

<p>
  <strong>Cpr report date:</strong>
  <%= @cpr_report.cpr_report_date %>
</p>

<p>
  <strong>Cpr work percent complete:</strong>
  <%= @cpr_report.cpr_work_percent_complete %>
</p>

<p>
  <strong>Cpr report reason:</strong>
  <%= @cpr_report.cpr_report_reason %>
</p>

<p>
  <strong>Cpr price as varied:</strong>
  <%= @cpr_report.cpr_price_as_varied %>
</p>

<p>
  <strong>Cpr predicted price:</strong>
  <%= @cpr_report.cpr_predicted_price %>
</p>

<p>
  <strong>Cpr actual price:</strong>
  <%= @cpr_report.cpr_actual_price %>
</p>

<p>
  <strong>Cpr total extention days:</strong>
  <%= @cpr_report.cpr_total_extention_days %>
</p>

<p>
  <strong>Cpr adjusted completion date:</strong>
  <%= @cpr_report.cpr_adjusted_completion_date %>
</p>

<p>
  <strong>Cpr predicted completion date:</strong>
  <%= @cpr_report.cpr_predicted_completion_date %>
</p>

<p>
  <strong>Cpr actual completion date:</strong>
  <%= @cpr_report.cpr_actual_completion_date %>
</p>

<p>
  <strong>Cpr comments:</strong>
  <%= @cpr_report.cpr_comments %>
</p>

<p>
  <strong>Cpr reporting officer:</strong>
  <%= @cpr_report.cpr_reporting_officer %>
</p>

<p>
  <strong>Cpr contractor acknowlages:</strong>
  <%= @cpr_report.cpr_contractor_acknowlages %>
</p>

<p>
  <strong>Cpr validating officer:</strong>
  <%= @cpr_report.cpr_validating_officer %>
</p>

<%= link_to 'Edit', edit_cpr_report_path(@cpr_report) %> |
<%= link_to 'Back', cpr_reports_path %>
