<p id="notice"><%= notice %></p>

<h1>Csr Performance Reports</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @csr_performance_reports.each do |csr_performance_report| %>
      <tr>
        <td><%= link_to 'Show', csr_performance_report %></td>
        <td><%= link_to 'Edit', edit_csr_performance_report_path(csr_performance_report) %></td>
        <td><%= link_to 'Destroy', csr_performance_report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Csr Performance Report', new_csr_performance_report_path %>
