<p id="notice"><%= notice %></p>

<h1 class="text-center">CSR Performance Report Details</h1>

<p class="text-center">Supplier Id: <%= @csr_performance_report.csr_supplier_id %></p>
<p class="text-center">Works No: <%= @csr_performance_report.csr_works_no %></p>
<p class="text-center">Comment: <%= @csr_performance_report.csr_comment %></p>
<p class="text-center">Overall: <%= @csr_performance_report.csr_overall %></p>
<p class="text-center">Staff Quality: <%= @csr_performance_report.csr_staff_quality %></p>
<p class="text-center">Work Quality: <%= @csr_performance_report.csr_work_quality %></p>
<p class="text-center">Coordination: <%= @csr_performance_report.csr_coodination %></p>
<p class="text-center">Administration: <%= @csr_performance_report.csr_administration %></p>
<p class="text-center">Client Attitude: <%= @csr_performance_report.csr_attitude_to_client %></p>
<p class="text-center">Pricing: <%= @csr_performance_report.csr_pricing %></p>
<p class="text-center">Payment: <%= @csr_performance_report.csr_payment %></p>
<p class="text-center">OHS: <%= @csr_performance_report.csr_ohs %></p>
<p class="text-center">IR: <%= @csr_performance_report.csr_ir %></p>
<p class="text-center">Environment: <%= @csr_performance_report.csr_environment %></p>


<div class="text-center">
<%= link_to 'Edit', edit_csr_performance_report_path(@csr_performance_report), class: "btn btn-primary" %>
<%= link_to 'Back', supplier_path(@csr_performance_report.csr_supplier_id), class: "btn btn-primary" %>
</div>