<table align="center", width="70%">
  <tr>
    <td colspan="3">
      <h3 align="center">Supplier performance snapshot</h3>
    </td>
  </tr>
  <tr>
    <td align="center">
      <p>Rating: <%= (@csr_performance_reports.count * @good_reports.count) - (@csr_performance_reports.count * @adverse_reports.count) %></p>
    </td>
    <td align="center">
      <p>Positive reports on supplier: <%= @good_reports.count %> (<%= @good_percent %>)</p>
    </td>
    <td align="center">
      <p>Current projects: <%= @current_projects.count %></p>
    </td>
  </tr>
  <tr>
    <td align="center">
      <p>Total reports on supplier: <%= @csr_performance_reports.count %></p>
    </td>
    <td align="center">
      <p>Adverse reports on supplier: <%= @adverse_reports.count %> (<%= @adverse_percent %>)</p>
    </td>
    <td align="center">
      <p>Current project valuations: $<%= @projects_valuation %>0</p>
    </td>
  </tr>
</table>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <h3>Supplier Details</h3>
      <p>Name:</p>
      <h4><%= @supplier.name %></h4>
      <p>ABN:</p>
      <h4><%= @supplier.abn %></h4>
      <p>ACN:</p>
      <h4><%= @supplier.acn%></h4>
      <p>Address:</p>
      <h4><%= @supplier.address%></h4>
      <p>Suburb:</p>
      <h4><%= @supplier.suburb%></h4>
      <p>State:</p>
      <h4><%= @supplier.state%></h4>
      <p>Postal Code:</p>
      <h4><%= @supplier.postcode%></h4>
      <p>Email:</p>
      <h4><%= @supplier.email%></h4>
      <p>CSR Supplier Id:</p>
      <h4><%= @supplier.id %></h4>
    </div>
    
    <div class="col-md-10">
      <table class="table table-hover table-striped">
      <h3>Contracts (<%= @projects.count %> in total)</h3>
          <thead class="panel csr-thead">
            <tr>
              <th class="col-md-7">Title</th>
              <th class="">Contract No</th>
              <th class="">Department</th>
              <th class="col-md-1">Value</th>
              <th class="col-md-1">Start</th>
              <th class="col-md-1">End</th>
            </tr>
          </thead>
        <tbody class="csr-tbody">
        <% @projects.each do |contract| %>
        <tr>
          <td class="col-md-8"><%= link_to contract.vt_title, contract %></td>
          <td class=""><%= link_to contract.vt_contract_number, contract %></td>
          <% department = Department.where(vt_number: contract.vt_department_id).first %>
          <% if department %>
            <td class=""><%= link_to lookup_department_short_name(contract.vt_department_id), department_path(department) %></td>
          <% else %>
            <td class="">ERR: <%= contract.vt_department_id %></td>
          <% end %>
          <td class=""><%= contract.vt_total_value %></td>
          <td class=""><%= contract.vt_start_date %></td>
          <td class=""><%= contract.vt_end_date %></td>
        </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <div><p>.</p></div>
    <div class="col-md-10">
      <table class="table table-hover table-striped">
      <h3>CSR Reports (<%= @csr_performance_reports.count %> in total)</h3>
          <thead class="panel csr-thead">
            <tr>
            <th class="">Works No</th>
            <th class="col-md-2">Comment</th>
            <th class="">Overall</th>
            <th class="">Staff Quality</th>
            <th class="">Work Quality</th>
            <th class="">Coordinate</th>
            <th class="">Admin</th>
            <th class="">Client Attitude</th>
            <th class="">Pricing</th>
            <th class="">Payment</th>
            <th class="">OHS</th>
            <!-- <th class="">IR</th> -->
            </tr>
          </thead>
        <tbody class="csr-tbody">
        <% @csr_performance_reports.each do |report| %>
        <tr>
          <td class="csr-td"><%= link_to report.csr_works_no, report %></td>
          <td class="col-md-2"><%= report.csr_comment %></td>
          <td class="csr-td"><%= report.csr_overall %></td>
          <td class="csr-td"><%= report.csr_staff_quality %></td>
          <td class="csr-td"><%= report.csr_work_quality %></td>
          <td class="csr-td"><%= report.csr_coodination %></td>
          <td class="csr-td"><%= report.csr_administration %></td>
          <td class="csr-td"><%= report.csr_attitude_to_client %></td>
          <td class="csr-td"><%= report.csr_pricing %></td>
          <td class="csr-td"><%= report.csr_payment %></td>
          <td class=""><%= report.csr_ohs %></td>
          <!-- <td class=""><%= report.csr_ir %></td> -->
        </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
