%div.media
  %div.media-body
    %table.responsive-table.highlight.bordered
      %thead.index-haml-pages
        %th= smart_listing.sortable "Name", "name"
        %th.center-align= smart_listing.sortable "ABN", "abn"
        %th.center-align= smart_listing.sortable "ACN", "acn"
        %th= smart_listing.sortable "Address", "address"
        %th.center-align= smart_listing.sortable "Suburb", "suburb"
        %th.center-align= smart_listing.sortable "State", "state"
        %th.center-align= smart_listing.sortable "PostCode", "postcode"
        %th.center-align= smart_listing.sortable "Email", "email"
      
      %tbody
        - smart_listing.collection.each do |obj|
          %tr.editable.suppliers-row{:data => {:id => obj.id}}
            = smart_listing.render object: obj, partial: "suppliers/supplier", locals: {object: obj}
    :javascript
      findSupplierId();

    = smart_listing.paginate
    = smart_listing.pagination_per_page_links

