%td.table-text= object.name
%td.table-text.center-align= object.abn
%td.table-text.center-align= object.acn
%td.table-text= object.address
%td.table-text.center-align= object.suburb
%td.table-text.center-align= object.state
%td.table-text.center-align= object.postcode
%td.table-text.center-align= object.email
