%td.table-text= object.name
%td.table-text= object.abn
%td.table-text= object.acn
%td.table-text= object.address
%td.table-text= object.suburb
%td.table-text= object.state
%td.table-text= object.postcode
%td.table-text= object.email
