%td.supplier-table-text= object.name
%td.supplier-table-text.center-align= object.abn
%td.supplier-table-text.center-align= object.acn
%td.supplier-table-text= object.address
%td.supplier-table-text.center-align.col1= object.suburb
%td.supplier-table-text.center-align.col1= object.state
%td.supplier-table-text.center-align.col1= object.postcode
%td.supplier-table-text.center-align= object.email
