%div
  %h1= "Suppliers"
  %p= "This is the list of current prequalified suppliers for Victoria as of today, #{Time.now.to_formatted_s(:long)} and we have #{@suppliers.count} in total.."

  = smart_listing_controls_for(:suppliers, {class: ""}) do
    %div.filter.form-search
      .input-group
        = text_field_tag :supplier_filter, '', class: "", placeholder: "Search...", autocomplete: :off, value: "#{params[:supplier_filter]}"
        %span.input-group-btn
          = submit_tag 'Refresh', :class => "btn btn-default", :name => "do_query"
          = link_to  "Clear search", '/suppliers', class: "btn btn-default"
          / = link_to "Save", '/suppliers/save', class: "btn btn-default"

  %script(type="text/javascript")
    - if params[:g]
      - params[:g].each do |field, param|
        - param.each do |option, value|
          - if value[:obj] != "skip"
            - if value[:val].is_a? Hash
              value = ["#{value[:val]['0']}", "#{value[:val]['1']}", "#{value[:val]['2']}"]
            - else
              value = "#{value[:val]}"
              $.filters.append(humanize("#{field}"), "#{field}", "#{Supplier.columns_hash[field].type}", value, "#{value['obj']}", "", "#{option}");

  = smart_listing_render :suppliers
