<p id="notice"><%= notice %></p>
<div class="panel panel-default">
  <div class="panel-heading"><h1>Suppliers</h1></div>
    <div class="panel-body">
    <p>This is the list of current prequalified suppliers for Victoria as of today, <%= Time.now.to_formatted_s(:long) %> and we have <%= @suppliers.count %> in total.</p>
  </div>
  <div>
    <table class="table-striped">
      <thead>
        <tr>
          <th class="col-md-2">Name</th>
          <th class="col-md-2">ABN</th>
          <th class="col-md-2">ACN</th>
          <th class="col-md-2">Address</th>
          <th class="col-md-1">Suburb</th>
          <th class="col-md-1">State</th>
          <th class="col-md-1">Postcode</th>
          <th class="col-md-1">Email</th>
          <!-- <th colspan="3">Status</th> -->
        </tr>
      </thead>
  </div>
  <div>
        <tbody>
          <% @suppliers.each do |supplier| %>
            <tr>
              <td class="col-md-3"><%= supplier.name %></td>
              <td class="col-md-3"><%= supplier.abn %></td>
              <td class="col-md-1"><%= supplier.acn %></td>
              <td class="col-md-2"><%= supplier.address %></td>
              <td class="col-md-1"><%= supplier.suburb %></td>
              <td class="col-md-1"><%= supplier.state %></td>
              <td class="col-md-1"><%= supplier.postcode %></td>
              <td class="col-md-1"><%= supplier.email %></td>
              <!-- <td><%= link_to 'Show', supplier %></td> -->
              <!-- <td><%= link_to 'Edit', edit_supplier_path(supplier) %></td> -->
              <!-- <td><%= link_to 'Destroy', supplier, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
            </tr>
          <% end %>
        </tbody>
      </div>
    </table>
  </div>  
</div>