<nav class="nav-extended">
    <div class="nav-wrapper">
      <span><%= link_to "Construction Contracts Register", root_path, class: "brand-logo nav-text" %></span>
      <a href="#" data-activates="mobile-page" class="button-collapse"><i class="material-icons">menu</i></a>
      <div id="nav-mobile" class="right hide-on-med-and-down">
        <% if user_signed_in? %>
          <%= link_to "Logout", destroy_user_session_path, class:"waves-effect waves-light btn nav-btn", method: :delete%>
        <% else %>
          <%= link_to "Login", new_user_session_path, class: "waves-effect waves-light btn nav-btn" %>
        <% end %>

      </div>
<!-- <div>
        <ul class="side-nav" id="mobile-page">
          <li><a href="#">Contracts</a></li>
          <li><a href="#">Suppliers</a></li>
          <li><a href="#">Reports</a></li>
        </ul>
      </div> -->
      <div class="nav-list">
        <ul class="tabs tabs-transparent" align="center">
          <li class="tab" ><%= link_to "Contracts", contracts_path%></li>
          <li class="tab"><%= link_to "Suppliers", suppliers_path %></li>
          <li class="tab"><%= link_to "Reports", root_path %></li>
          <li class="tab"><%= link_to "Performance Reporting System", root_path %></li>
        </ul>
      </div>
    </div>
  </nav>