<!DOCTYPE html>
<html>
  <head>
    <title>Construction Contracts Register</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <meta name="viewport" content="width=device-width">
  </head>

  <body>
    <div class="main-header">
      <%= render 'layouts/header' %>
    </div>
    <div>
      <span class="notice"><%= notice %></span>
      <span class="alert"><%= alert %></span>
      <%= yield %>
    </div>
    <div class="main-footer">
      <%= render "layouts/footer" %>
    </div>

    <%= yield :javascript %>

  </body>

</html>
