<!DOCTYPE html>
<html>
  <head>
    <title>Genesis</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <nav>
          <%= link_to "Genisis", "#", id: "logo" %>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home", "#"%></li>
            <li><%= link_to "Aboout", "#"%></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>

  </body>

</html>
